Python Basics Assigenment 01

In [1]:
#'hello'
#6

6

In [2]:
#string is the set of words which has to be written in ("") this notation while variable can never be denoted with this string can a value of a same variable aswell,

In [ ]:
#string datatype - contains only contain set words as value which can only do operations with same data types and denoted with
##symbol Str also stored on greater value in internal memory.

#integer datatype- only contain numeric values not decimal not any complex variable symbol is int perform
## operation with complex aswell as float variables on certain commands.

#Float datatype - contains only float variables decimal value denoted with symbol float

# list data type - conations all the variables is [] this bracket format can perform variety of operations also iterable in nature and perform slicing operations
#tuple datatype -  conations all the variables is () used where we dont want the data to be itrated such as inputs from used , are not directly iterable or item assigement operations
#dictinory datatype - contaions value in key value pair also perform operation acording format barckets are used {}.

In [ ]:
#expresions are valid combination of operatiors or identifiers, expression 
##perform differt behaiovior on differt oerators for arthematic operators done with numbers while string expressions 
###are done with string variables logical are done with or and relational are when we use >=< or similar. modulo expressions contaion modulo operatorssuch as ==,!=,%

In [ ]:
 like_spam = 10 # statement
 like_spam == 10 # because we have used a modulo operator.

In [25]:
bacon = 22
bacon + 1
print(bacon)
#bacon contain int thats why its performing operation

22

In [29]:
"spam" +"spamspam"

'spamspamspam'

In [30]:
"spam"*3

'spamspamspam'

In [31]:
#both have same values as string doing conanidation in 1st and multiplication in second

In [ ]:
#100 can never be a variable name because a variable name has to starts with word

In [ ]:
#int() for integer
#float() for decimals
#str() for string

In [33]:
#"I have eaten" + 99 +" burritos"
# for making this code run we have to convert int into string 
"i have eaten" + "99" +"burritos"

'i have eaten99burritos'